.page-profile.theme-default
  #content-wrapper
    .profile-full-name
      %span.text-semibold> Denise Steiner
      's profile
    .profile-row
      .left-col
        .profile-block
          .panel.profile-photo
            =image_tag 'demo/avatars/5.jpg', alt: ''
          %br
            %a.btn.btn-success{:href => "#"}>
              %i.fa.fa-check>
              \&nbsp;&nbsp;Following
            \&nbsp;&nbsp;
            %a.btn{:href => "#"}
              %i.fa.fa-comment
        .panel.panel-transparent
          .panel-heading
            %span.panel-title About me
          .panel-body
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            %a{:href => "#"} dolore magna
            aliqua.
        .panel.panel-transparent
          .panel-heading
            %span.panel-title Statistics
          .list-group
            %a.list-group-item{:href => "#"}
              %strong 126
              Likes
            %a.list-group-item{:href => "#"}
              %strong 579
              Followers
            %a.list-group-item{:href => "#"}
              %strong 100
              Following
        .panel.panel-transparent.profile-skills
          .panel-heading
            %span.panel-title Skills
          .panel-body
            %span.label.label-primary UI/UX
            %span.label.label-primary Web design
            %span.label.label-primary Photoshop
            %span.label.label-primary HTML
            %span.label.label-primary CSS
        .panel.panel-transparent
          .panel-heading
            %span.panel-title Social
          .list-group
            %a.list-group-item{:href => "#"}
              %i.profile-list-icon.fa.fa-twitter{:style => "color: #4ab6d5"}
              @dsteiner
            %a.list-group-item{:href => "#"}
              %i.profile-list-icon.fa.fa-facebook-square{:style => "color: #1a7ab9"}
              Denise Steiner
            %a.list-group-item{:href => "#"}
              %i.profile-list-icon.fa.fa-envelope{:style => "color: #888"}
              dsteiner@example.com
      .right-col
        %hr.profile-content-hr.no-grid-gutter-h
          .profile-content
            %ul#profile-tabs.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#profile-tabs-board"} Board
              %li
                %a{"data-toggle" => "tab", :href => "#profile-tabs-activity"} Timeline
              %li
                %a{"data-toggle" => "tab", :href => "#profile-tabs-followers"} Followers
              %li
                %a{"data-toggle" => "tab", :href => "#profile-tabs-following"} Following
            .tab-content.tab-content-bordered.panel-padding
              #profile-tabs-board.widget-article-comments.tab-pane.panel.no-padding.no-border.fade.in.active
                .comment
                  =image_tag 'demo/avatars/1.jpg', class: 'comment-avatar', alt: ''                  
                  .comment-body
                    %form#leave-comment-form.comment-text.no-padding.no-border{:action => ""}
                      %textarea.form-control{:rows => "1"}
                      .expanding-input-hidden{:style => "margin-top: 10px;"}
                        %label.checkbox-inline.pull-left
                          %input.px{:type => "checkbox"}
                            %span.lbl Private message
                        %button.btn.btn-primary.pull-right Leave Message
                  / / .comment-body
                %hr.no-panel-padding-h.panel-wide
                  .comment
                    =image_tag 'demo/avatars/2.jpg', class: 'comment-avatar', alt: ''
                    .comment-body
                      .comment-text
                        .comment-heading
                          %a{:href => "#", :title => ""} Robert Jang
                          %span 14 hours ago
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                      .comment-footer
                        %a{:href => "#"}>
                          %i.fa.fa-thumbs-o-up
                        \&nbsp;&nbsp;
                        %a{:href => "#"}
                          %i.fa.fa-thumbs-o-down
                        \&nbsp;&nbsp;·&nbsp;&nbsp;
                        %a{:href => "#"} Reply
                    / / .comment-body
                    .comment
                      =image_tag 'demo/avatars/4.jpg', class: 'comment-avatar', alt: ''
                      .comment-body
                        .comment-text
                          .comment-heading
                            %a{:href => "#", :title => ""} Timothy Owens
                            %span 14 hours ago
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                        .comment-footer
                          %a{:href => "#"}>
                            %i.fa.fa-thumbs-o-up
                          \&nbsp;&nbsp;
                          %a{:href => "#"}
                            %i.fa.fa-thumbs-o-down
                          \&nbsp;&nbsp;·&nbsp;&nbsp;
                          %a{:href => "#"} Reply
                        / / .comment-body
                    / / .comment
                    .comment
                      =image_tag 'demo/avatars/5.jpg', class: 'comment-avatar', alt: ''
                      .comment-body
                        .comment-text
                          .comment-heading
                            %a{:href => "#", :title => ""} Denise Steiner
                            %span 14 hours ago
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                        .comment-footer
                          %a{:href => "#"}>
                            %i.fa.fa-thumbs-o-up
                          \&nbsp;&nbsp;
                          %a{:href => "#"}
                            %i.fa.fa-thumbs-o-down
                          \&nbsp;&nbsp;·&nbsp;&nbsp;
                          %a{:href => "#"} Reply
                      / / .comment-body
                      .comment
                        =image_tag 'demo/avatars/1.jpg', class: 'comment-avatar', alt: ''
                        .comment-body
                          .comment-text
                            .comment-heading
                              %a{:href => "#", :title => ""} John Doe
                              %span 14 hours ago
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          .comment-footer
                            %a{:href => "#"}>
                              %i.fa.fa-thumbs-o-up
                            \&nbsp;&nbsp;
                            %a{:href => "#"}
                              %i.fa.fa-thumbs-o-down
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            %a{:href => "#"} Reply
                            
                  .comment                    
                    =image_tag 'demo/avatars/3.jpg', class: 'comment-avatar', alt: ''  
                    .comment-body
                      .comment-text
                        .comment-heading
                          %a{:href => "#", :title => ""} Michelle Bortz
                          %span 14 hours ago
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                      .comment-footer
                        %a{:href => "#"}>
                          %i.fa.fa-thumbs-o-up
                        \&nbsp;&nbsp;
                        %a{:href => "#"}
                          %i.fa.fa-thumbs-o-down
                        \&nbsp;&nbsp;·&nbsp;&nbsp;
                        %a{:href => "#"} Reply
                      / / .comment-body
                  / / .comment
                  .comment
                    =image_tag 'demo/avatars/2.jpg', class: 'comment-avatar', alt: ''                      
                    .comment-body
                      .comment-text
                        .comment-heading
                          %a{:href => "#", :title => ""} Robert Jang
                          %span 14 hours ago
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                      .comment-footer
                        %a{:href => "#"}>
                          %i.fa.fa-thumbs-o-up
                        \&nbsp;&nbsp;
                        %a{:href => "#"}
                          %i.fa.fa-thumbs-o-down
                        \&nbsp;&nbsp;·&nbsp;&nbsp;
                        %a{:href => "#"} Reply
                    .comment
                      =image_tag 'demo/avatars/4.jpg', class: 'comment-avatar', alt: ''
                    
                      .comment-body
                        .comment-text
                          .comment-heading
                            %a{:href => "#", :title => ""} Timothy Owens
                            %span 14 hours ago
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                        .comment-footer
                          %a{:href => "#"}>
                            %i.fa.fa-thumbs-o-up
                          \&nbsp;&nbsp;
                          %a{:href => "#"}
                            %i.fa.fa-thumbs-o-down
                          \&nbsp;&nbsp;·&nbsp;&nbsp;
                          %a{:href => "#"} Reply                        
                    .comment
                      =image_tag 'demo/avatars/5.jpg', class: 'comment-avatar', alt: ''
                    
                      .comment-body
                        .comment-text
                          .comment-heading
                            %a{:href => "#", :title => ""} Denise Steiner
                            %span 14 hours ago
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                        .comment-footer
                          %a{:href => "#"}>
                            %i.fa.fa-thumbs-o-up
                          \&nbsp;&nbsp;
                          %a{:href => "#"}
                            %i.fa.fa-thumbs-o-down
                          \&nbsp;&nbsp;·&nbsp;&nbsp;
                          %a{:href => "#"} Reply
                      / / .comment-body
                      .comment
                        =image_tag 'demo/avatars/1.jpg', class: 'comment-avatar', alt: ''
                      
                        .comment-body
                          .comment-text
                            .comment-heading
                              %a{:href => "#", :title => ""} John Doe
                              %span 14 hours ago
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          .comment-footer
                            %a{:href => "#"}>
                              %i.fa.fa-thumbs-o-up
                            \&nbsp;&nbsp;
                            %a{:href => "#"}
                              %i.fa.fa-thumbs-o-down
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            %a{:href => "#"} Reply
                            
                  .comment
                    =image_tag 'demo/avatars/3.jpg', class: 'comment-avatar', alt: ''                      
                    .comment-body
                      .comment-text
                        .comment-heading
                          %a{:href => "#", :title => ""} Michelle Bortz
                          %span 14 hours ago
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                      .comment-footer
                        %a{:href => "#"}>
                          %i.fa.fa-thumbs-o-up
                        \&nbsp;&nbsp;
                        %a{:href => "#"}
                          %i.fa.fa-thumbs-o-down
                        \&nbsp;&nbsp;·&nbsp;&nbsp;
                        %a{:href => "#"} Reply

              #profile-tabs-activity.tab-pane.fade
                .timeline
                  / Timeline header
                  .tl-header.now Now
                  .tl-entry
                    .tl-time
                      1h ago
                    .tl-icon.bg-warning
                      %i.fa.fa-envelope
                    .panel.tl-body
                      %h4.text-warning Lorem ipsum dolor sit amet
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    / / .tl-body
                  / / .tl-entry
                  .tl-entry.left
                    .tl-time
                      2h ago
                    .tl-icon.bg-success
                      %i.fa.fa-picture-o
                    .panel.tl-body
                      %a{:href => "#"} Denise Steiner
                      shared an image on
                      %a{:href => "#"} The Gallery
                      .tl-wide.text-center{:style => "padding: 10px;margin-top:15px;margin-bottom: 15px;background: #f1f1f1"}
                        
                        =image_tag 'demo/signin-bg-5.jpg', alt: '', style: 'max-height: 150px;max-width: 100%;'
                      %i.text-muted.text-sm Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    / / .tl-body
                  / / .tl-entry
                  .tl-entry
                    .tl-time
                      3h ago
                    .tl-icon.bg-success
                      =image_tag 'demo/avatars/2.jpg', alt: ''                       
                    .panel.tl-body
                      %a{:href => "#"} Robert Jang
                      commented on
                      %a{:href => "#"} The Article
                      .well.well-sm{:style => "margin: 10px 0 0 0;"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    / / .tl-body
                  / / .tl-entry
                  .tl-entry.left
                    .tl-time
                      4h ago
                    .tl-icon.bg-dark-gray
                      %i.fa.fa-check
                    .panel.tl-body
                      =image_tag 'demo/avatars/5.jpg', class: 'rounded', alt: '', style: 'width: 20px;height: 20px;margin-top: -2px;'
                      \&nbsp;&nbsp;
                      %a{:href => "#"} Denise Steiner
                      followed
                      %a{:href => "#"} Johg Doe                    
                  .tl-header Yesterday
                  .tl-entry
                    .tl-time
                      9:02 pm
                    .tl-icon.bg-info
                      %i.fa.fa-comment
                    .panel.tl-body
                      %a{:href => "#"} Denise Steiner
                      liked a comment on
                      %a{:href => "#"} Some Article
                      .text-sm{:style => "margin-top: 10px;"}
                        =image_tag 'demo/avatars/3.jpg', class: 'rounded', style: 'width: 20px;height: 20px;margin-top: -2px;'
                        \&nbsp;&nbsp;
                        %a{:href => "#"} Michelle Bortz
                        commented 2 days ago
                        .well.well-sm{:style => "margin: 6px 0 0 0;"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    
                  .tl-entry.left
                    .tl-time
                      5:47 pm
                    .panel.tl-body
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    
                  .tl-entry
                    .tl-time
                      2:35 pm
                    .tl-icon.bg-danger
                      %i.fa.fa-heart
                    .panel.tl-body
                      %a{:href => "#"} Denise Steiner
                      liked
                      %a{:href => "#"} Shop Item
                    / / .tl-body
                  / / .tl-entry
                  .tl-entry.left
                    .tl-time
                      11:21 am
                    .panel.tl-body
                      %h4.text-danger Lorem ipsum dolor sit amet
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    / / .tl-body
                  / / .tl-entry
                / / .timeline
              / / .tab-pane
              #profile-tabs-followers.tab-pane.fade.widget-followers
                .follower
                  =image_tag 'demo/avatars/1.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-success{:href => "#"}
                        %i.fa.fa-check
                        %span &nbsp;&nbsp;Following
                    %a.follower-name{:href => "#"} John Doe
                    %br
                      %a.follower-username{:href => "#"} @jdoe
                .follower
                  =image_tag 'demo/avatars/3.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Michelle Bortz
                    %br
                      %a.follower-username{:href => "#"} @mbortz
                .follower
                  =image_tag 'demo/avatars/4.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Timothy Owens
                    %br
                      %a.follower-username{:href => "#"} @towens
                .follower
                  =image_tag 'demo/avatars/5.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Denise Steiner
                    %br
                      %a.follower-username{:href => "#"} @dsteiner
                .follower
                  =image_tag 'demo/avatars/1.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-success{:href => "#"}
                        %i.fa.fa-check
                        %span &nbsp;&nbsp;Following
                    %a.follower-name{:href => "#"} John Doe
                    %br
                      %a.follower-username{:href => "#"} @jdoe
                .follower
                  =image_tag 'demo/avatars/3.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Michelle Bortz
                    %br
                      %a.follower-username{:href => "#"} @mbortz
                .follower
                  =image_tag 'demo/avatars/4.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Timothy Owens
                    %br
                      %a.follower-username{:href => "#"} @towens
                .follower
                  =image_tag 'demo/avatars/5.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Denise Steiner
                    %br
                      %a.follower-username{:href => "#"} @dsteiner
                .follower
                  =image_tag 'demo/avatars/1.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-success{:href => "#"}
                        %i.fa.fa-check
                        %span &nbsp;&nbsp;Following
                    %a.follower-name{:href => "#"} John Doe
                    %br
                      %a.follower-username{:href => "#"} @jdoe
                .follower
                  =image_tag 'demo/avatars/3.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Michelle Bortz
                    %br
                      %a.follower-username{:href => "#"} @mbortz
                .follower
                  =image_tag 'demo/avatars/4.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Timothy Owens
                    %br
                      %a.follower-username{:href => "#"} @towens
                .follower
                  =image_tag 'demo/avatars/5.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Denise Steiner
                    %br
                      %a.follower-username{:href => "#"} @dsteiner
                .follower
                  =image_tag 'demo/avatars/1.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-success{:href => "#"}
                        %i.fa.fa-check
                        %span &nbsp;&nbsp;Following
                    %a.follower-name{:href => "#"} John Doe
                    %br
                      %a.follower-username{:href => "#"} @jdoe
                .follower
                  =image_tag 'demo/avatars/3.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Michelle Bortz
                    %br
                      %a.follower-username{:href => "#"} @mbortz
                .follower
                  =image_tag 'demo/avatars/4.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Timothy Owens
                    %br
                      %a.follower-username{:href => "#"} @towens
                .follower
                  =image_tag 'demo/avatars/5.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Denise Steiner
                    %br
                      %a.follower-username{:href => "#"} @dsteiner
              / / .tab-pane
              #profile-tabs-following.tab-pane.fade.widget-followers
                .follower
                  =image_tag 'demo/avatars/1.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-success{:href => "#"}
                        %i.fa.fa-check
                        %span &nbsp;&nbsp;Following
                    %a.follower-name{:href => "#"} John Doe
                    %br
                      %a.follower-username{:href => "#"} @jdoe
                .follower
                  =image_tag 'demo/avatars/3.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Michelle Bortz
                    %br
                      %a.follower-username{:href => "#"} @mbortz
                .follower
                  =image_tag 'demo/avatars/4.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Timothy Owens
                    %br
                      %a.follower-username{:href => "#"} @towens
                .follower
                  =image_tag 'demo/avatars/5.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Denise Steiner
                    %br
                      %a.follower-username{:href => "#"} @dsteiner
                .follower
                  =image_tag 'demo/avatars/1.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-success{:href => "#"}
                        %i.fa.fa-check
                        %span &nbsp;&nbsp;Following
                    %a.follower-name{:href => "#"} John Doe
                    %br
                      %a.follower-username{:href => "#"} @jdoe
                .follower
                  =image_tag 'demo/avatars/3.jpg', class: 'follower-avatar', alt: ''
                
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Michelle Bortz
                    %br
                      %a.follower-username{:href => "#"} @mbortz
                .follower
                  =image_tag 'demo/avatars/4.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Timothy Owens
                    %br
                      %a.follower-username{:href => "#"} @towens
                .follower
                  =image_tag 'demo/avatars/5.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Denise Steiner
                    %br
                      %a.follower-username{:href => "#"} @dsteiner
                .follower
                  =image_tag 'demo/avatars/1.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-success{:href => "#"}
                        %i.fa.fa-check
                        %span &nbsp;&nbsp;Following
                    %a.follower-name{:href => "#"} John Doe
                    %br
                      %a.follower-username{:href => "#"} @jdoe
                .follower
                  =image_tag 'demo/avatars/3.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Michelle Bortz
                    %br
                      %a.follower-username{:href => "#"} @mbortz
                .follower
                  =image_tag 'demo/avatars/4.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Timothy Owens
                    %br
                      %a.follower-username{:href => "#"} @towens
                .follower
                  =image_tag 'demo/avatars/5.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Denise Steiner
                    %br
                      %a.follower-username{:href => "#"} @dsteiner
                .follower
                  =image_tag 'demo/avatars/1.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-success{:href => "#"}
                        %i.fa.fa-check
                        %span &nbsp;&nbsp;Following
                    %a.follower-name{:href => "#"} John Doe
                    %br
                      %a.follower-username{:href => "#"} @jdoe
                .follower
                  =image_tag 'demo/avatars/3.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Michelle Bortz
                    %br
                      %a.follower-username{:href => "#"} @mbortz
                .follower
                  =image_tag 'demo/avatars/4.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Timothy Owens
                    %br
                      %a.follower-username{:href => "#"} @towens
                .follower
                  =image_tag 'demo/avatars/5.jpg', class: 'follower-avatar', alt: ''
                  .body
                    .follower-controls
                      %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                    %a.follower-name{:href => "#"} Denise Steiner
                    %br
                      %a.follower-username{:href => "#"} @dsteiner
              
            